.add-meal-link {
    margin-bottom: 0.5rem;
}

table, td, th {
    border: black solid 1px;
    border-collapse: collapse;
    padding: 0.5rem;
}

.green {
    color: green;
}

.red {
    color: red;
}